<div class ="stockists_center_container">
  <div class ="stockists_ocny_container">
    <%= link_to (image_tag "information/stockists_ocny.jpg"),
                            "http://www.openingceremony.us/p107.html",
                            :target => "_blank"
    %>
  </div>

  <div class ="stockists_middle_slash_container">
    <%= image_tag "information/stockists_middle_slash.jpg" %>
  </div>

  <div class ="stockists_ocla_container">
    <%= link_to (image_tag "information/stockists_ocla.jpg"),
                            "http://www.openingceremony.us/p106.html",
                            :target => "_blank"
    %>
  </div>
</div>

<div class ="stockists_bottom_slash_container">
    <%= image_tag "information/stockists_bottom_slash.jpg" %>
</div>

<div class ="stockists_idlm_container">
    <%= link_to (image_tag "information/stockists_idlm.jpg"),
                            "http://idontlikemondays.us",
                            :target => "_blank"
    %>
</div>
