<div class="meerkat">
  <div class="splash">
  <%=  image_tag("collections/collection_b.jpg", :alt => "collection_b") %>
  </div>
</div>

<div class="wrapper">
  <div id="loopedslider">
    
    <div class ="center_container">
      <div class ="left_container">
        <%= link_to (image_tag "layout/layout_sidenav_left.png"), "#prev", :class => "previous" %>
      </div>

      <div class ="window_container">
      
        <div class="splash_click_for_more_family">
        <div class="splash">
          <!--[if !IE]><!-->
            <%=  image_tag("layout/layout_click_for_more.png", :alt => "click image for more") %>
          <!--<![endif]-->
          <!--[if lt IE 8]>
            <%=  image_tag("collections/grey_olive_family_ro.jpg", :alt => "click image for more") %>
          <![endif]-->
        </div>
      </div>

        <div class="slide_container">
          <div class="slides">

          <%# displays all the available colors %>
          <% @cover.each do |key_family, value_pic_array| %>
            <div id="<%= key_family.to_s %>" >
              <%= link_to (image_tag "#{value_pic_array.first}"),
                           styles_path(:family => "#{key_family.to_s}") %>
            </div>
          <% end %>

          </div>
        </div><!-- end slide container -->
      </div>

      <div class ="right_container">
        <%= link_to (image_tag "layout/layout_sidenav_right.png"), "#next", :class => "next" %>
      </div>
    </div>

    <div class ="bottomnav">
      <div class ="bottomnav_inner">
        <div class="pagination_container">
        <%= link_to "COLLECTION B",home_path %> /
          <ul class="pagination">
              <%# displays all the available colors %>
              <% @cover.each_with_index do |(key_family, value_pic_array),index| %>
                <% if index == @cover.length-1 %>
                <li><%= link_to "#{key_family.to_s.upcase.gsub(/[_]/, ' ')}","#{key_family.to_s}",
                                 :id => "#{key_family.to_s }" %>
                </li>
                <% else %>
                <li><%= link_to "#{key_family.to_s.upcase.gsub(/[_]/, ' ')}","#{key_family.to_s}",
                                 :id => "#{key_family.to_s }" %>
                / </li>
                <% end %>
              <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div> <!-- end looped slider -->
</div> <!-- end wrapper -->

