<div class="wrapper">
  <div id="loopedslider">

    <%= link_to (image_tag "layout/layout_sidenav_left.png"), "#prev", :class => "previous" %>
    <div class="slide_container">
      <div class="slides">

        <%# displays about %>
        <div id="about">
          <%= render "pages/about" %>
        </div>

        <%# displays stockists %>
        <div id="stockists">
          <%= render "pages/stockists" %>
        </div>

        <%# displays inspiration %>
        <div id="inspiration">
          <%= render "pages/inspiration" %>
        </div>

      </div>
    </div>
    <%= link_to (image_tag "layout/layout_sidenav_right.png"), "#next", :class => "next" %>

    <div class="pagination_container">
      <ul class="pagination">
        <li><%= link_to "ABOUT","#about" %> / </li>
        <li><%= link_to "STOCKISTS","#stockists" %> / </li>
        <li><%= link_to "INSPIRATION","#inspiration" %>   </li>
      </ul>
    </div>
  </div>
</div>
