<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <div class="header">
    <%= render 'layouts/header' %>
  </div>
  <div class="topnav">
    <%= render 'layouts/topnav' %>
  </div>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>
</html>
