<!DOCTYPE html>
<html class = "main">
  <div class ="resolution">
    <head>
      <meta name="google-site-verification" content="sWgiWTuFtD63NOXeUCsr_GP1cgReB0-h2ssmcsVD1pk" />
      <meta name="Description" content="HAERFEST is a bag label dedicated to
      elevating metropolitan style through a sophisticated urban sensibility.
      Familiar shapes with unexpected inner workings seamlessly meld creating
      a line of simple modern classics.">

      <meta name="Keywords" content="fashion, label, design, apparel,
      accessories, bag, bags, backpack, back pack, hand bag, jjjjound,
      simple, minimal, modern, street wear, urban, understated, raf simons,
      givenchy, lanvin, jil sander, patrik ervell, uncompromising design,
      craftsmanship">

      <title><%= title %></title>
      <%= csrf_meta_tag %>
      <%= render 'layouts/stylesheets' %>
      <%= render 'layouts/javascripts' %>
    </head>
    <div class="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="topnav">
      <%= render 'layouts/topnav' %>
    </div>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</html>
